.wrapper {
  width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.header {
  width: 1280px;
  height: 189px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  flex-wrap: wrap;
  margin-bottom: 49px;
}

.header-heading a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 80px;
  line-height: 94px;
  text-decoration: none;
  color: #000000;
  height: 120px;
  margin: 63px 948px 40px 0;
}

.header-heading span {
  color: #4bcaff;
}

.header-menu {
  width: 1280px;
  height: 69px;
  text-align: center;
  background-color: rgba(53, 68, 79, 1);
}

.header-menu-list-item {
  display: inline;
  text-align: center;
}

.header-menu-list-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  display: inline-block;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 24px;
  padding-right: 35px;
  padding-left: 35px;
  line-height: 69px;
  border-right: #ffffff 1px solid;
}

.header-bordered-link {
  border-left: #ffffff 1px solid;
}

.header-hover-item :hover {
  background-color: #222f3a;
}

.main {
  width: 1280px;
  display: flex;
}

.aside {
  width: 344px;
  height: 399px;
  margin-right: 52px;
  border: #000000 1px solid;
}

.aside-menu-list-link {
  display: block;
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  font-size: 27px;
  line-height: 27px;
  color: #485863;
  padding: 25px 44px;
  margin: 0;
}

.aside-hover-item :hover {
  color: #000000;
  background-color: #dbdbdb;
}

.main-content {
  width: 882px;
  display: flex;
  flex-direction: column;
}

.main-image {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #000000 1px solid;
}

.main-image img {
  width: 320px;
  height: 381px;
  margin: 75px 268px 73px 297px;
}

.main-text p {
  width: 885px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 24px;
}

.main-text :first-child {
  margin-top: 37px;
  margin-bottom: 34px;
}

.main-text :last-child {
  margin-bottom: 54px;
}

.footer {
  width: 1280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(99, 105, 110, 0.48);
}

.footer-menu-list {
  width: 875px;
  margin: 20px auto 21px 40px;
}

.footer-menu-list li {
  display: inline-block;
  padding-left: 20px;
}

.footer-menu-list-link {
  text-decoration: none;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 28px;
  color: rgba(12, 25, 39, 1);
  font-weight: 400;
}

.footer-copyright {
  height: 69px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  margin-right: 40px;
}

.footer-copyright > P {
  vertical-align: middle;
  margin: 20px auto;
}

.footer-hover-item :hover {
  color: #3181a6;
  padding-bottom: 5px;
  border-bottom: 1px solid #3181a6;
}
